{% extends 'base.html' %}

{% load static %}

{% block title %}
Choose Login Method
{% endblock  %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'login/css/all-custom.css' %}">
{% endblock  %}

{% block content %}
{% if user.is_authenticated %}
<div class="container pt-3">
            <h1 class="display-2 text-center">You are already Logged In!</h1>
            <div class="text-center p-3">
            <a href="{% if user.is_staff %}/admin{% else %}/employee{%endif%}" class="btn btn-primary">Go to Your Account</a>
            </div>
</div>
{% else %}
<div class="container-fluid p-4">
       <h1 class="display-3 text-center pb-4">Login As</h1>

    <div class="row">
     <div class="col-2"></div>
        <div class="col-4">
         <a href="{% url 'employee-login' %}" class="option">
            <div class="card text-center p-2" style="width:30vw">
                <img src="{% static 'login/images/employee.svg' %}"  class="card-img-top" alt="Employee">
            <div class="card-body pt-4">
                <a href="{% url 'employee-login' %}" class="btn btn-primary">Employee</a>
            </div>
        </div>
       </a>
    </div>
        <div class="col-4">
        <a href="admin/">
            <div class="card text-center p-2" style="width:30vw">
                <img src="{% static 'login/images/admin.svg' %}"  class="card-img-top" alt="Admin">
            <div class="card-body pt-4">
                <a href="admin/" class="btn btn-primary">Admin</a>
            </div>
            </div>
        </a>
        </div>
        <div class="col-2"></div>
        </div>
    </div>

</div>
{% endif %}
{% endblock  %}