{% extends 'base.html' %}
{% load static %}
{% block title %}
    Employee Login Page
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'login/css/all-custom.css' %}">
{% endblock  %}

{% block content %}
        <div class="container pt-3">
        {% if user.is_authenticated %}
            <h1 class="display-2 text-center">You are already Logged In!</h1>
            <div class="text-center p-3">
            <a href="/employee" class="btn btn-primary">Go to Your Account</a>
            </div>
        {% else %}
        <h1 class="display-2 text-center">Employee Login</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                    {{field.label_tag}}
                    {{field}}
                     </div>
                    {{field.errors}}
                {% endfor %}
                <div class="mb-3 mt-n2 errorlist">{{w_pass}}</div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
         {% endif %}
        </div>
{% endblock  %}