{% extends 'base.html' %}
{% load static %}
{% block title %}
Add | Accident
{% endblock  %}

{% block css_files %}
 <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
{% endblock  %}

{% block content %}
<div class="container p-3">
    <h1 class="display-3 text-center">Add Accident</h1>
<form action="/employee/add-accident" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% for field in form %}
    <div class="form-control {% if field.errors %}errors{% endif %} p-2 mb-2">
                {{field.label_tag}}
                {{field}}
                {{field.errors}}      
    </div>
  {% endfor %}
    <button class="btn btn-primary">Add Accident</button>
  </form>
</div>

{% endblock  %}