{% extends 'base.html' %}
{% load static %}
{% block title %}
Employee
{% endblock  %}

{% block css_files %}
   <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
{% endblock  %}

{% block content %}
    <div class="container p-4">
        <h1 class="display-3 text-center">{{employee.first_name}} {{employee.last_name}}</h1>

        <h1 class="dispaly-6">
            Your Address:
        </h1>

        <p class="ps-2 lead">{{employee.address}}</p>

        <h1 class="display-6">
            Your Licence Categories:
        </h1>
        <ul>
        {% for category in employee.categories.all %}
            <li>{{category}}</li>
        {% endfor %}
        </ul>

          <h1 class="display-6">
            Your Vehicle:
        </h1>
        
        <a href=""><p class="ps-2 lead">{{employee.vehicle.model_name}}</p></a>

        
    </div>

    
{% endblock  %}