{% extends 'base.html' %}
{% load static %}
{% block title %}
Employee
{% endblock  %}

{% block css_files %}
   <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
{% endblock  %}

{% block content %}
  <div class="container-fluid p-4">
    <h1 class="display-3 pb-4 text-center">Welcome {{user|title}}!</h1>

    <div class="row mb-3">
      <div class="col-2"></div>
      <div class="col-4 user">
         <a href="{% url 'employee-info' employee_slug %}" class="option">
            <div class="card text-center p-4" style="width:31vw">
                <img src="{% static 'employee/images/user.svg' %}"  class="card-img-top" alt="User">
        </div>
       </a>
      </div>

      <div class="col-4 car">
         <a href="" class="option">
            <div class="card text-center p-4" style="width:31vw">
                <img src="{% static 'employee/images/car.svg' %}"  class="card-img-top" alt="Car">
        </div>
       </a>
      </div>

 <div class="col-2"></div>
    </div>



    <div class="row mb-3">
      <div class="col-2"></div>
      <div class="col-4 accident">
         <a href="" class="option">
            <div class="card text-center p-4" style="width:31vw">
                <img src="{% static 'employee/images/accident.svg' %}"  class="card-img-top" alt="Accident">
        </div>
       </a>
      </div>

      <div class="col-4 fuel">
         <a href="" class="option">
            <div class="card text-center p-4" style="width:31vw">
                <img src="{% static 'employee/images/fuel.svg' %}"  class="card-img-top" alt="Fuel">
        </div>
       </a>
      </div>

 <div class="col-2"></div>
    </div>
  </div>
{% endblock  %}