{% extends 'base.html' %}
{% load static %}
{% block title %}
Employee
{% endblock  %}

{% block css_files %}
   <link rel="stylesheet" href="{% static 'login/css/all-custom.css' %}">
{% endblock  %}

{% block content %}
    <div class="container p-4">
        <h1 class="display-3 text-center pb-3">{{employee.first_name}} {{employee.last_name}} 
        
        <a href="{% url 'employee-edit' employee.slug %}" class="btn btn-primary">Edit</a></h1>

        <div class="info p-4">
       
        <h1 class="display-6">
            Address:
        </h1>

        <p class="ps-2 lead">{{employee.address}}</p>

        <h1 class="display-6">
            Contact:
        </h1>

        <p class="ps-2 lead">{{employee.contact}}</p>

        <h1 class="display-6">
            Driving Licence Categories:
        </h1>
        <ul class="list-group pb-3">
        {% for category in employee.categories.all %}
            <li class="list-group-item">{{category}}</li>
        {% endfor %}
        </ul>

        <h1 class="display-6">
            Your Vehicle:
        </h1>
        
        <a href="{% url 'vehicle' vehicle_slug %}" class="ps-2 lead">{{employee.vehicle.model_name}}</a>

        <h1 class="display-6 pt-3">Your Accidents:</h1>
        <ul class="list-group">
        {% if not employee.employee_accidents.all %}
                <li class="list-group-item">Luckly, you have not any accident!</li>
        {% else %}
            {% for accident in employee.employee_accidents.all %}
                <li class="list-group-item"><a href="{% url 'accident' accident.id %}">{{accident}}</a></li>
            {% endfor %}
        {% endif %}
        </ul>

        <h1 class="display-6 pt-3">Your Refuels:</h1>
        <ul class="list-group">
        {% if not employee.employee_refuels.all %}
                <li class="list-group-item">You have not made any refuels!</li>
        {% else %}
            {% for refuel in employee.employee_refuels.all %}
                <li class="list-group-item">{{refuel}}</a></li>
            {% endfor %}
        {% endif %}
        </ul>

         </div>
    </div>

    
{% endblock  %}