{% extends 'base.html' %}
{% load static %}
{% block title %}
    Vehicle Breakdowns
{% endblock  %}

{% block css_files %}
   <link rel="stylesheet" href="{% static 'login/css/all-custom.css' %}">
{% endblock  %}

{% block content %}
{% include 'employee/includes/main-page-button.html' %}
    <div class="container p-4">
        <h1 class="display-3 text-center p-3">Vehicle Breakdowns</h1>
        <div class="info p-3">
        <ul class="list-group">
            {% for breakdown in breakdowns %}
                <li class="list-group-item text-center">{{breakdown}}</li>
            {% endfor %}
        </ul>
         </div>
    </div>
{% endblock  %}