.card:hover,
.card:active {
  transform: scale(1.03);
  background-color: rgb(219, 238, 245);
  color: white;
  cursor: pointer;
}

.errorlist {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  color: red;
}

#map_location{
  width: 100% !important;
  height: 50vh !important;
}

#_GMapContainer{
  width: 100% !important;
  height: 50vh !important;
}